/* Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 #333333;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}
